
<div class="card-content">
	<div class="card-img">
		<img src="https://deconceptos.com/wp-content/uploads/2018/01/concepto-de-becerro.jpg" alt="">
		<span><h4>{{inventario.nombre}}</h4></span>
	</div>
	<div class="card-desc">
		<h3>{{inventario.nombre}}</h3>
		<p>Es un animal de color {{inventario.color}}</p>
		<p>Es un animal de sexo {{inventario.sexo}}</p>
		<a href="#"	class="btn-card">Read</a>			
	</div>
</div>

