<div class="container content" style="background-color: beige;">
    <div class="row">
        <form class="form-inline" *ngIf="!authService.getUser()">
            <p class="pt-3" style="text-align: center;">
            </p>
            <div class="form-group">
                <label for="username"><span class="oi oi-dashboard"></span> Usuario :</label>
                <input class="form-control" name="username" #username>
            </div>
            <p class="pt-3" style="text-align: center;">
            </p>
            <div class="form-group">
                <label for="password"><span class="oi oi-copywriting"></span> Contraseña :</label>
                <input class="form-control" type="password" name="password" #password>
            </div>
            <a class="btn btn-default" (click)="login(username.value, password.value)" style="color: cadetblue;"><span class="oi oi-account-login"></span> Iniciar Sesion</a>
            {{mensajeError}}
        </form>
        <a class="btn btn-default" (click)="logout()" *ngIf="authService.getUser()" style="color: cadetblue;"><span class="oi oi-account-logout"></span> Cerrar Sesion</a>
    </div>
</div>