<div class="container content">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<span class="anchor" id="formLogin"></span>
			<!-- form	card	login	with	validation	feedback	-->
			<div class="card card-outline-secondary">
				<div class="card-header">
					<h3	class="mb-0">Inventario Animal</h3>
				</div>
				<div class="card-body">
					<form>
						<div class="form-group">
							<label for="nombre">Nombre</label>
							<input type="text"	class="form-control" id="nombre" placeholder="Ingresar nombre..." #nombre>
						</div>
						<div class="form-group">
							<label for="Sexo">Sexo</label>
							<input type="text" class="form-control"	id="sexo"	placeholder="Ingresar	sexo..." #sexo>
						</div>
						<div class="form-group">
							<label for="Color">Color</label>
							<input type="text" class="form-control"	id="color"	placeholder="Ingresar	color..." #color>
						</div>
						<button	type="submit" class="btn btn-primary" (click)="guardar(nombre.value, sexo.value, color.value)">Guardar!</button>
					</form>
				</div>
			</div>
			</div>
			</div>
	<hr class="mb-5">
	<div class="row">
		<app-inventario-animal *ngFor="let i of inventarios" [inventario]="i"></app-inventario-animal>
	</div>
</div>
