<p>
    reserva-listado work!
</p>

<a [routerLink]="['./', 10]" style="color: darkblue;"> Ir a detalles reservas!!!</a>
<a [routerLink]="['./login']" style="color: burlywood;"> Ir a login!!!</a>

<div *ngFor="let r of api.getAll()">
    {{r.id}} - {{r.name}}
</div>

